<strong>Ola, {{ provider }} </strong>
<p> Houve um cancelamento de horario, confira os detalhes </p>
<p>
    <strong>Cliente:</strong> {{ user }} <br>
    <strong>Data:</strong> {{ date }} <br>
    <small>
        Horario disponivel para novos agendamentos
    </small>
</p>
